#cipherwrapper {
    font-family: Menlo,Consolas,Monaco,Liberation Mono,Lucida Console,monospace;
    font-size: 200%;
    white-space: nowrap;
    margin-bottom: 2em;
}

#cipher {
    margin-top: 1em;
    margin-left: 1em;
}

#grid-number-block {
    padding-top: 5px;
    margin-left: 1em;
}

.c {
    padding: 3px;
    color: #900;
}

.c-highlight {
    color: #900;
    text-decoration: underline;
    font-weight: bolder;
    padding: 3px;
}

.c-row {
    color: #090;
    font-weight: bolder;
    padding: 3px;
    /* border-radius: 50%;
    border: 3px solid black; */
}

.g-highlight {
    padding: 3px;
    background-color: yellow;
    color: black; 
    font-weight: bold;
}

.g {
    padding: 3px;
    color: #999;
}
