#root {
    position: absolute;    
}
.matrix {
    font-family: "courier new";
    color: black;
    text-align: center;
    outline: 0;
  }

table {
    border-collapse: collapse;
    display: inline;
}

.matrix td {
    border-collapse: collapse;
    border: thin solid black;
    padding: 3px;
}

.on {
    animation-name: highlight;
    animation-duration: 0.5s;
}

.mark {
    background-color: #400040; color: white; font-weight: bold;
}

@keyframes highlight {
    from {background-color: #400040; color: white; font-weight: bold;}
    to {background-color: white; color: black;}
  }

form {
    display: inline;
}

input {
    display: inline;
}

.buttons {
    vertical-align: top;
    padding-left: 1em;
}

.phase6-0 {
    background-color: #400040; 
    color: white; 
}
.phase6-1 {
    background-color: #8f7393; 
    color: #8e8e8e;
}
.phase6-2 {
    background-color: #bfafc1;
    color: #515151;
}
.phase6-3 {
    background-color: #e3dce3; 
    color: #232323; 
}
.phase6-4 {
    color: black;
    background-color: white;
}
